/**
  * Normalize
  *
  * A modern, HTML5-ready alternative to CSS resets
  * http://necolas.github.io/normalize.css/1.1.2/normalize.css
  */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block
}
audio, canvas, video {
	display: inline-block;
*display:inline;
*zoom:1
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden] {
display:none
}
html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
html, button, input, select, textarea {
	font-family: sans-serif
}
body {
	margin: 0
}
a:focus {
	outline: thin dotted
}
a:active, a:hover {
	outline: 0
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
h2 {
	font-size: 1.5em;
	margin: .83em 0
}
h3 {
	font-size: 1.17em;
	margin: 1em 0
}
h4 {
	font-size: 1em;
	margin: 1.33em 0
}
h5 {
	font-size: .83em;
	margin: 1.67em 0
}
h6 {
	font-size: .67em;
	margin: 2.33em 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-weight: bold
}
blockquote {
	margin: 1em 40px
}
dfn {
	font-style: italic
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}
mark {
	background: #ff0;
	color: #000
}
p, pre {
	margin: 1em 0
}
code, kbd, pre, samp {
	font-family: monospace, serif;
	_font-family: "courier new", monospace;
	font-size: 1em
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}
q {
	quotes: none
}
q:before, q:after {
	content: "";
	content: none
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
dl, menu, ol, ul {
	margin: 1em 0
}
dd {
	margin: 0 0 0 40px
}
menu, ol, ul {
	padding: 0 0 0 40px
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 0
}
form {
	margin: 0
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}
legend {
	border: 0;
	padding: 0;
	white-space: normal;
*margin-left:-7px
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
*vertical-align:middle
}
button, input {
	line-height: normal
}
button, select {
	text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
*overflow:visible
}
button[disabled], html input[disabled] {
	cursor: default
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
*height:13px;
*width:13px
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
textarea {
	overflow: auto;
	vertical-align: top
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
/** 
  * Basic print.css based on normalize.css
  *
  * Styling basically some elements for print
  * 
  * http://www.akajlm.net
  * 
  */
@page {
	margin:2cm
}
body {
	background: #fff;
	font: 12pt;
	line-height: 1.3;
	color: #555
}
* {
	background: #fff;
	page-break-before: auto;
	border: none;
	text-decoration: none
}

/* Just choose your element for page break before if necessary */
/*...{page-break-before:always}*/

/* And your site name */
body:before {
	content: "www.akajlm.net"
}
body:after {
	content: "www.akajlm.net"
}


article, aside, details, hgroup, main, section, summary {
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
}
article, aside, section, summary {
	margin-top: 0.5cm;
}
header, nav, footer, img, audio, canvas, video, svg, button, input, select, textarea, figcaption, figure, form, i {
	display: none
}
h1 {
	font-size: 20pt;
	margin: 0.4cm 0
}
h2 {
	font-size: 16pt;
	margin: 0.4cm 0
}
h3, h4, h5, h6 {
	font-size: 12pt;
	font-weight: bold;
	margin: 0.3cm 0
}
/*h3:before, h4:before, h5:before, h6:before {
	content: "‹ ";
	color: #CCC
}
h3:after, h4:after, h5:after, h6:after {
	content: " ›";
	color: #CCC
}*/

h3, h4, h5, h6 {
	text-decoration: underline
}

p, pre, blockquote {
	width: 99.9%;
	margin: 0.1cm auto;
	padding: 0.1cm
}

blockquote > p {
	margin:0;
	padding:0
}

blockquote, cite {
	font-style: italic
}

pre {
	font-family: "Lucida Console", Monaco, monospace;
	width: 96%;
	border: 1px solid #ccc;
	-moz-box-shadow: inset 0 0 0.2cm #eee;
	-webkit-box-shadow: inset 0 0 0.2cm #eee;
	box-shadow: inset 0 0 0.2cm #eee;
	border-radius: 0.1cm;
	-moz-border-radius: 0.1cm;
	-webkit-border-radius: 0.1cm;
	font-style: italic;
}
code {
	font-family: consolas, "Lucida Console", Monaco, monospace;
}
blockquote {
	width: 96%;
	border-left: 0.1cm solid #ccc;
	opacity: 0.8;
	padding-left: 0.2cm;
	margin-left: 0
}
p:first-letter {
	text-transform: capitalize
}
address, dt {
	margin-top: 0.3cm
}
ol, ul {
	list-style-type: none;
	list-style: none;
	margin: 0.05cm;
	padding: 0.05cm
}
li:before {
	content: "  » "
}
p a:after {
	content: " ("attr(href)")";
	font-size: 80%
}
p a[href^="#"]:after {
	display: none
}
p a[href^="http://"]:after, a[href^="https://"]:after {
	content: " ("attr(href)")"
}
p a {
	word-wrap: break-word
}
a {
	color: #000
}
q:after {
	content: " (source: "attr(cite)")"
}
pre, sub, sup, q {
	font-style: italic
}
tr {
	border-bottom: 1px solid #555
}
table {
	width: 99%;
	page-break-before: auto;
	margin: 0 auto;
}
td {
	padding: 0.2cm;
	border: 1px solid #CCC;
	
}
tr, thead > tr, tfoot > tr {
	border: none
}
summary {
	padding-top: 0.1cm;
	display: block;
	visibility: visible;
}
details > * {
	padding-top: 1px;
	display: block;
	visibility: visible
}
hr {
	display: block;
	height: 1px;
	border: none;
	border-top: 1px solid #CCC;
	margin: 1cm
}